*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    width: 100%;
    height: 100px;
}
main{
    margin: 10px;
}
footer{
    background-color: red;
    width: 100%;
    height: 100px;
}